



<h1 class=" text-center mt-5" style="color: blue;">
    Detalle del Producto Seleccionado
</h1>

<div class="m-4">
    {{ id }}
</div>

<div class="m-4">
    {{ productoBuscado }}
</div>


<div class="card mb-3" style="max-width: 1200px; max-height:800px">
    <div class="row g-0">
        <div class="col-md-6">
            <img src={{ productoBuscado.imagen }} class="img-fluid rounded-start" alt="Detalle del produto buscado">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h2 class="card-title">{{ productoBuscado.nombre }}</h2>
                <p class="card-text">{{ productoBuscado.descripcion }}</p>
                <p class="card-text">
                    <h3 class="text-body-secondary">
                        Precio: {{ productoBuscado.precio }}
                    </h3>
                </p>
            </div>
        </div>
    </div>
</div>